<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BudplannEntities" connectionString="metadata=res://*/App_Code.Acesso.csdl|res://*/App_Code.Acesso.ssdl|res://*/App_Code.Acesso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\BDSQL;initial catalog=Budplann;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--<authentication mode="Windows" />-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/index.aspx" protection="All" name="autoCookie" timeout="20" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="cacheteste" enabled="true" duration="20" varyByParam="" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--<sessionState timeout="1"></sessionState>-->
    <!--Sessao 1 minuto-->
  </system.web>
  <!--<location path="~/home.aspx">
    <system.web>
      <authorization>
        <allow users="Ivi"/>
      </authorization>
    </system.web>
  </location>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>